<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('./partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h3>Welcome to <%= appName %> Parse documentation!</h3>
        <h5 class="font-weight-bold lead mt-3">General informations</h5>

        <p class="lead mt-3">
          Total of documented Cloud Functions:
          <span class="font-weight-bold text-success"
            ><%= processedAnnotations.cloudFunctionAnnotations.length %></span
          >
        </p>
        <p class="lead mt-3">
          Total of documented Cloud Jobs:
          <span class="font-weight-bold text-success"
            ><%= processedAnnotations.cloudJobAnnotations.length %></span
          >
        </p>
        <p class="lead mt-3">
          Total of documented Class Hooks:
          <span class="font-weight-bold text-success"
            ><%= processedAnnotations.classHooksAnnotations.length %></span
          >
        </p>
      </div>
    </main>
  </body>
</html>
